
page-drums {

	.buttons {
		position: absolute;
		top: 0;
		right: 0;
		z-index: 1;
		padding: 15px;
		text-align: right;
	}

	.buttons button {
		color: white;
		opacity: 0.3;
		margin: 0 0.1rem;
		width: 5rem !important;
		padding: 2.5rem 0.5rem !important;
		font-size: 1.5rem;
	}

	.buttons button .label {
		position: absolute;
	    right: 0.33em;
	    bottom: 0.33em;
		padding: 5px;
		font-size: 1em;
		background: #212121;
		border-radius: 100%;
	}

	.strobe .buttons button .label {
		background: rgba(#212121, 0.25);
	}

	.list {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-evenly;
		align-items: center;
		align-content: space-around;
		height: 100%;
		width: 100%;
		margin: 0;
		padding: 0;
		transition: none;
		overflow: hidden;
		background: none !important;
	}

	.list > .button-inner {
		padding: 16px;
	}

	#content:not(.strobe) .list > .button-inner {
		background: transparent !important;
	}

	.list > .button-effect {
		display: block;
	}
	
	#content.strobe .list > .button-inner {
		background: white;
		animation: strobe 100ms steps(1, end) infinite;
	}

	@keyframes strobe {
	  50% { background: unset; }
	}

	.button-md[outline] {
		flex: 1 0 10%;
		max-width: 25%;
		height: unset;
		border-radius: 100%;
		padding: 0;
		@include aspect-ratio(1, 1);
	}

}
