
// Source: https://css-tricks.com/snippets/sass/maintain-aspect-ratio-mixin/

@mixin aspect-ratio($width, $height) {

  position: relative;

  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }

  > *:not(.button-effect) {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}


page-drums {

	.buttons {
		position: absolute;
		top: 0;
		right: 0;
		z-index: 1;
		padding: 5px;
	}

	.buttons button {
		color: white;
		opacity: 0.4;
		padding: 2.5rem 0 !important;
		font-size: 1.5rem;
	}

	.list {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-evenly;
		align-items: center;
		align-content: space-around;
		height: 100%;
		width: 100%;
		margin: 0;
		transition: none;
		padding: 16px;
		overflow: hidden;
		background: unset;
	}

	.button-md[outline] {
		flex: 1 0 10%;
		max-width: 25%;
		height: unset;
		border-radius: 100%;
		padding: 0;
		@include aspect-ratio(1, 1);
	}

}
