page-settings {

	form .item {
		padding-left: 0;
		background: none;
	}

	.item-range {
		margin-top: -15px;
	}

	.label + .range {
		padding-top: 0;
	}

	.range-md .range-pin {
      z-index: 9999;
	}

	.range-md.range-disabled .range-knob {
		outline: none;
	}

	.card button {
		margin-bottom: 15px !important;
		white-space: normal;
	}

	.milliseconds .range-pin::after {
		content: "00";
	}

}
