<ion-header>

  <ion-navbar>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Settings</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ng-container *ngIf="settingsReady">

    <form [formGroup]="form">

      <ion-card>
        <ion-card-content>
          
              <ion-range min="0" max="1000" step="100" snaps pin formControlName="transitiontime">
                <ion-label range-left>Transition time: &nbsp; 0ms</ion-label>
                <ion-label range-right>1000ms</ion-label>
              </ion-range>
          
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-content>
          <ion-list>

            <ion-item>
              <ion-label>Enable strobing</ion-label>
              <ion-toggle formControlName="enablestrobing"></ion-toggle>
            </ion-item>
            <ion-item>
              <ion-range [disabled]="!settings.all.enablestrobing" min="25" max="500" step="25" snaps pin formControlName="strobespeed">
                <ion-label range-left>Strobe speed: &nbsp; 25ms</ion-label>
                <ion-label range-right>500ms</ion-label>
              </ion-range>
            </ion-item>

          </ion-list>
        </ion-card-content>
      </ion-card>

    </form>

    <ion-card>
      <ion-card-header>Hide lamps</ion-card-header>

      <ion-card-content>
        <ion-list>
          
          <ion-item *ngFor="let light of lights">
            <ion-label>{{light.name}}</ion-label>
            <ion-toggle (ionChange)="checkHidden($event, light.uniqueid)" [checked]="settings.all.hiddendrums.indexOf(light.uniqueid)> -1"></ion-toggle>
          </ion-item>

        </ion-list>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-content>

        <button ion-button (click)="tutorial()">
          <ion-icon name="help"></ion-icon>&nbsp;
          Redo tutorial
        </button>

        <button ion-button (click)="refresh()">
          <ion-icon name="refresh"></ion-icon>&nbsp;
          Refresh lamps
        </button>

        <button ion-button color="danger" (click)="logout()">
          <ion-icon name="exit"></ion-icon>&nbsp;
          Logout from Bridge
        </button>
      </ion-card-content>
    </ion-card>

  </ng-container>
</ion-content>