page-settings {

	form .item {
		padding-left: 0;
	}

	.range {
		margin-top: -20px;
	}

	.range-md .range-pin {
      z-index: 9999;
	}

	.range-md.range-disabled .range-knob {
		outline: none;
	}

	.card button {
		margin-bottom: 15px !important;
		white-space: normal;
	}

}
