page-tutorial {

	.header {
		margin-top: 25px;
	}

	.toolbar-background-md {
		background: transparent;
	}

	.bar-button-clear {
		background: rgba(255,255,255,0.1);
		padding: 5px 10px;
	}

	.scroll-content {
		padding-top: 0px !important;
	}

	.swiper-slide {
		padding: 15px;
	}

	.slide-zoom {
		max-width: 400px;
		font-size: 0.9em;
		font-weight: 300;
	}

	.swiper-container-horizontal > .swiper-pagination-progress {
		top: unset;
		bottom: 0;
	}

	.swiper-pagination-progress .swiper-pagination-progressbar {
		background: rgba(255,255,255,0.5);
	}

	h3 .icon {
		vertical-align: text-top;
	}

	.left-align p {
		max-width: 325px;
		margin: 1em auto;
		text-align: justify;
	}

	.drum {
		background: inherit;
		width: 100px;
		height: unset;
		border-radius: 100%;
		padding: 0;
		@include aspect-ratio(1, 1);
	}

	// strobing
	#examplestrobe.animate {
		animation: examplestrobe 150ms steps(1, end) infinite;
	}

	@keyframes examplestrobe {
	  50% { background: white; }
	}

	// customizing
	#examplecustomize.animate {
		animation: customizing 2s;
	}

	@keyframes customizing {
	  0% { transform: translate(0px, 0px) scale(1); }
	  20% { transform: translate(-25vw, -25vh) scale(1.8); }
	  40% { transform: translate(20vw, 40vh) scale(1.4); }
	  60% { transform: translate(-10vw, 20vh) scale(0.7); }
	  80% { transform: translate(30vw, -30vh) scale(0.9); }
	  100% { transform: translate(0px, 0px) scale(1); }
	}

}
