page-tutorial {

	.toolbar-background-md {
		background: transparent;
	}

	.scroll-content {
		padding-top: 0px !important;
	}

	.swiper-slide {
		padding: 15px;
	}

	.swiper-pagination-bullet-active {
		background: white;
	}

}
